$def with (resultado)
<div style="margin: 0 auto; box-sizing: border-box; border: 2px solid #000; max-width: 400px; width: 80%;">
<div style="text-align: center;">
<form method="POST">
    <label>
        Num 1: 
        <input type="number" name="numero1">
    </label>
    <br><br>
    <label>
        Num 2:
        <input type="number" name="numero2">
    </label>
    <br><br>
    <button style="background-color: green" type="submit">Sumar</button>
    <br><br>
    <label style="color: red;">
        Resultado:
        <span id="resultado">
            <!-- Resultado Suma -->
            $if resultado is None:
                0
            $else:
                $resultado
        </span>
    </label>
</form>
</div>
</div>
