<!DOCTYPE html>
<html>
<head>
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    <h1 class="mt-5">Actualizar Producto</h1>
    <form method="POST" action="/actualizar_producto?id={{ producto.id }}">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="" required><br><br>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" value="" required><br><br>
        <input type="submit" value="Actualizar Producto">
    </form>
    <a href="/">Cancelar</a>
    </div>
</body>
</html>
