<!DOCTYPE html>
<html>
<head>
    <title>Insertar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Insertar Nuevo Producto</h1>
    <form method="POST" action="/insertar_producto">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br><br>
        <label for="precio">Precio:</label>
        <input type="text" id="precio" name="precio" required><br><br>
        <input type="submit" class="btn btn-secondary mt-3" value="Insertar Producto">
    </form>
    <a class="btn btn-secondary mt-3" href="/">Volver a la Lista de Productos</a>
</body>
</html>
