<!DOCTYPE html>
<html>
<head>
    <title>Insertar Producto</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Insertar Nuevo Producto</h1>
        <form method="POST" action="/insertar_producto">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <button type="button" class="btn btn-warning">Editar</button>
                    <button type="button" class="btn btn-success">Eliminar</button>
                </div>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" id="precio" name="precio" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-secondary mt-3">Insertar Producto</button>
        </form>
        <a class="btn btn-secondary mt-3" href="/">Volver a la Lista de Productos</a>
    </div>
</body>
</html>
