<!DOCTYPE html>
<html>
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <center><h1 class="mt-5">Lista de Productos</h1></center>
        <!-- Aquí podrías mostrar una tabla con los productos -->
        <!-- Por ejemplo:
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.precio }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        -->
        <center><a type="button" class="btn btn-outline-warning"href="/insertar_producto">Insertar Producto</a></center>
    </div>
</body>
</html>
